# Ignore Mac system files
.DS_Store

# Ignore node_modules folder
node_modules/

# Ignore the package-lock.json files
**/package-lock.json
**/Dependencies
**/mod_time.txt
client/tests/**/application/
client/application/application/
client/library/library/
client/tests/ui_catalog/library

client/resources/uploads/
# Ignore all text files
*.txt

# Ignore files related to API keys
.env
client/.env
server/.env
*.lock

**/server/application/
**/.swp

server/config.default.json
