# Ignore Mac system files
.DS_Store

# Ignore node_modules folder
node_modules/

# Ignore the package-lock.json files
**/package-lock.json
**/Dependencies
**/mod_time.txt
client/tests/**/application/
client/application/application/
client/library/library/
client/resources/images/
client/tests/ui_catalog/library
